/* 導覽列 */


/* 卡片內容 */
.money{
color: brown;
font-size: 20px;
}
.card-body h4{
    font-size: 10px;
   
}

.card input{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #1C6FBC;
    border-radius: 5px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    font-size: 10px;
    border: none;
    width: 100px;
    height: 20px;

   
}
.card{
    position: relative;
}

.card-img-wapper{
    width: 100%;
    height: 80%;
}
.card-img-wapper img{
    box-shadow: rgb(4, 6, 8) 0px 20px 30px -10px!important;
    width: 100%;   
    height: 100%;   
    object-fit:cover;   
}

/* 購物車買進圖示 */

.add-to-cart button{
    background-color: #C00053;
    border: none;
    border-radius: 5px;
    padding:0px;
    font-size: 10px;
    margin-bottom: 10px;
    color: rgb(250, 250, 250);
    width: 100px;
    height: 20px;
}
/* 卡片標題 */
.title{
    font-size: 26px;
   display: inline-block;
   margin-top: 55px;
   text-align: center;
   background-color: #6a655f;
   color: aliceblue;
}
.smtitle{
    font-size: 26px;
   display: inline-block;
   margin-top: 0px;
   text-align: center;
   background-color: rgb(221, 243, 235);
   color: rgb(4, 4, 4);
}

/* 購物車 */
.cart-item{
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-top: 20px;
}
.cart-item h4{
    font-size: 20px;
} 
.item-info img{
    max-width: 70px;
    height: auto;
    padding: 0.25rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   
}
.item-info{
    float: left;
    min-height: 1px;
    display: block;
}

.item-info span{
    word-wrap:break-word;
    display: block;
}
/* 購物車清單刪除圖示 */
    .removeitem {
        width: 40px;
        height: auto;
    }
    .removeitem i{
        background-color: rgb(217, 220, 222);
        text-align: center;
        display: block;
        border-radius: 50%;
        padding: 8px;
        margin:30px 0;
        color: rgb(37, 38, 38);
        margin-right: 10px;
    }
    .units{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
        
    }
    .number{
        display: block;
        line-height: 40px;
    }
    .rightitem h4{
        margin-bottom: 20px;
    }

    .unit-price{
        font-size: 20px;
    }
    .units .btn img{
        width: 20px;
    }
   
    .column1{
        margin:200px 0 50px 0;
        font-size: 20px;
        border-top:2px #ddd solid;
    }
    .cart-footer{
        border-bottom:2px #ddd solid ;
    }
    /* 購物車清單圖示 */
    .shopping-bag{
        display: flex;
        right: 60px;
        background-color: #7cf8e9;
        
    }
    .shopping-bag a{
        position: fixed;
        display: flex;
        z-index: 9999!important;
        top: 0;
        color: #ddd;
        right: 100px;
        text-decoration: none;
    }
    .shopping-bag i{
        font-size: 30px;
        padding-top: 10px;
        display: flex;
    }
    .total-items-in-cart{
        color: #C00053;
        padding-left: 10px;
    }

    
    
/* 複製貼上 */
.checkout a{
    text-decoration: none;
    color: rgb(245, 245, 245);
    background-color: #C00053;
    padding: 10px;
    border-radius: 10%;
}
.checkout{
    padding: 10px;
}
/* .messagestyle{
    opacity:0;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;        
} */

/* 滾動選單 */
.scrollnav{
    background-color:#212529 ;
}
.scorll-wapper{
overflow-x: auto;
overflow-y: auto;
overflow-y: hidden;
white-space: nowrap;
-webkit-overflow-scrolling:touch; 
background-color: #212529;
}
.scorll-wapper::-webkit-scrollbar{
    height: 10px;
    -webkit-appearance: none;
}
.scorll-wapper::-webkit-scrollbar-track{
    background-color: #212529;
    border-radius: 20px;
}
.scorll-wapper::-webkit-scrollbar-thumb{
    background-color: rgb(221, 243, 235);
    border-radius: 20px;
    
}
.scorll-wapper::-webkit-scrollbar:vertical {
    width: 12px;
}
.scorll-wapper::-webkit-scrollbar:horizontal {
    height: 12px;
}


.scorll-wapper .item{
    min-width: 110px;
    height: 110px;
    line-height: 90px;
    text-align: center;
    background-color: #212529;
    margin-right: 2px;
    margin-top: 5px;
    padding: 15px;
}



/* 滾動選單icon */
.navicon{
    color: #ddd;
    font-size: 30px;
    line-height: 40px;
    

}

.navicon a{
    color: #ddd;
}
.navicon span{
    padding-top: 10px;
    font-size: 12px;
    display: block;
}
.item a:hover{
    background-color: rgb(144, 145, 145);
}
