/* 購物車 */
.cart{
    position: relative;
}
.cart-item{
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-top: 20px;
}
.cart-item h4{
    font-size: 20px;
} 
.item-info img{
    max-width: 70px;
    height: auto;
    padding: 0.25rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   
}
.item-info{
    float: left;
    min-height: 1px;
    display: block;
}

.item-info span{
    word-wrap:break-word;
    display: block;
}
.subtotal{
    margin:20px 0 80px 0;
}
/* 購物車清單刪除圖示 */
    .removeitem {
        width: 40px;
        height: auto;
    }
    .removeitem i{
        background-color: rgb(217, 220, 222);
        text-align: center;
        display: block;
        border-radius: 50%;
        padding: 8px;
        margin:30px 0;
        color: rgb(37, 38, 38);
        margin-right: 10px;
    }
    .units{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
        
    }
    .number{
        display: block;
        line-height: 40px;
    }
    .rightitem h4{
        margin-bottom: 20px;
    }

    .unit-price{
        font-size: 20px;
    }
    .units .btn img{
        width: 20px;
    }
   
    .column1{
        margin:200px 0 50px 0;
        font-size: 20px;
        border-top:2px #ddd solid;
    }
    .cart-footer{
        border-bottom:2px #ddd solid ;
    }
    /* 購物車清單圖示 */
    .shopping-bag{
        display: flex;
        right: 60px;
        background-color: #7cf8e9;
        
    }
    .shopping-bag a{
        position: absolute;
        display: flex;
        z-index: 3;
        top: 0;
        color: #024757;
        right:20px;
        text-decoration: none;
    }
    .shopping-bag i{
        font-size: 30px;
        padding-top: 10px;
        display: flex;
    }
    .total-items-in-cart{
        color: #a8dff1;
        padding-left: 10px;
    }

    /* 複製貼上 */
.checkout a{
    text-decoration: none;
    color: rgb(245, 245, 245);
    background-color: #2888ee;
    padding: 10px;
    border-radius: 10px;
    display: block;
    width: 100%;
    
}
.checkout{
    position: relative;
    padding: 10px;
}
.inputel{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 60px;
}
.phone{
    opacity:0
}
@media screen and (min-width:768px) {
    .inputel{
        position: absolute;
        left: 60%;
        transform: translate(-50%);
        bottom: 60px;
    }
    
}
/* 前往購物目錄 */
 .back a{
    display: block;
    color: black;
    background-color: #f0ba50;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
} 
