
.imgwapper img{
    width: 100%;
}
.col-12 span{
    text-align: center;
    font-size: 25px;
    color: brown;
    display: block;
}
.smallTitle{
    margin: 20px;
}

@media screen and (min-width: 768px){
    
    
}