
.imgwapper img{
    width: 100%;
}
.col-12 span{
    text-align: center;
    font-size: 25px;
    color: brown;
    display: block;
}
.smallTitle{
    margin: 20px;
}

@media screen and (min-width: 768px){
    .carousel {
        max-height: 500;
        max-width: 753px;
        width: auto;
        height: auto; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        margin-top: 50px;
    }

    .carousel .item {
            width: 100%;
            height: 500px;
            min-height: 100px;
            background-color: #777;
        }
        .carousel-inner > .item > img {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            width: auto;
            height: auto;
          }
    
}
.back button{
    background-color: #f0ba50; /* Green */
    border: none;
    color: rgb(15, 14, 14);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
  
}
